<nav aria-label="breadcrumb" class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/categories">Categoria</a></li>
        <li class="breadcrumb-item active">{{pageTitle}}</li>
    </ol>
</nav>

<div class="row mb-2">
    <div class="col-md">
        <h1 class="h2 border-left pl-2">
            {{pageTitle}}
        </h1>
    </div>
    <div class="col-md">
        <a routerLink="/categories" class="btn btn-light" style="float: right;">
            << voltar</a>
    </div>
</div>

<form [formGroup]="categoryForm" (submit) = "submitForm()">
    <div class="card">
        <div class="card-header">
            Informações sobre a categoria
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <label for="name">Nome </label>
                    <input type="text" id="nome" class="form-control" formControlName="name">
                    <div class="text-danger" *ngIf="!categoryForm.controls.name?.valid && (categoryForm.controls.name?.touched || categoryForm.controls.name?.dirty )">
                        <div [hidden]="!categoryForm.controls.name.errors?.required">dados obrigatórios</div>
                        <div [hidden]="!categoryForm.controls.name.errors?.minlength">deve ter no mínimo 2 caracteres</div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <label for="description">Descrição </label>
                    <input type="text" id="descricao" class="form-control" formControlName="description">
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-danger mt-3" *ngIf="serverErrorMessages.length > 0">
        <strong>Erros no servidor: </strong> 
        <ul>
            <li *ngFor="let error of serverErrorMessages">{{error}}</li>
        </ul>

    </div>
    <button [disabled]= "submittingForm || categoryForm.invalid " type="submit" class="btn btn-primary btn-log mt-3" style="float: right;">Salvar</button>
</form>