<app-bread-crumb
    [items] = "[{text: 'Categoria', link: '/categories'}, {text:pageTitle }]"
></app-bread-crumb>

<app-page-header
    [page-title] = "pageTitle"
    button-class = "btn-light"
    button-text = "<< voltar"
    button-link = "/categories"
></app-page-header>

<form [formGroup]="resourceForm" (submit) = "submitForm()">
    <div class="card">
        <div class="card-header">
            Informações sobre a categoria
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <label for="name">Nome </label>
                    <input type="text" id="nome" class="form-control" formControlName="name">
                    <div class="text-danger" *ngIf="!resourceForm.controls.name?.valid && (resourceForm.controls.name?.touched || resourceForm.controls.name?.dirty )">
                        <div [hidden]="!resourceForm.controls.name.errors?.required">dados obrigatórios</div>
                        <div [hidden]="!resourceForm.controls.name.errors?.minlength">deve ter no mínimo 2 caracteres</div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <label for="description">Descrição </label>
                    <input type="text" id="descricao" class="form-control" formControlName="description">
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-danger mt-3" *ngIf="serverErrorMessages.length > 0">
        <strong>Erros no servidor: </strong> 
        <ul>
            <li *ngFor="let error of serverErrorMessages">{{error}}</li>
        </ul>

    </div>
    <button [disabled]= "submittingForm || resourceForm.invalid " type="submit" class="btn btn-primary btn-log mt-3" style="float: right;">Salvar</button>
</form>