<app-bread-crumb [items]="[{text: 'Lançamento', link: '/entries'}, {text:pageTitle }]"></app-bread-crumb>

<app-page-header [page-title]="pageTitle" button-class="btn-light" button-text="<< voltar" button-link="/entries">
</app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">
    <div class="card">
        <div class="card-header">
            Informações sobre o lançamento
        </div>
        <div class="card-body">
            <div class="row">
                <!--tipo-->
                <div class="col-sm-2">
                    <label for="type">Tipo </label>
                    <select id="type" name="type" class="form-control" formControlName="type">
                        <option *ngFor="let option of typeOption" [value]="option.value">{{ option.text }}</option>
                    </select>
                    <app-form-field-error [form-control]="$any(resourceForm.controls.type)"></app-form-field-error>
                </div>
                <!--nome-->
                <div class="col-sm-5">
                    <label for="name">Nome </label>
                    <input type="text" id="name" class="form-control" formControlName="name">
                    <app-form-field-error [form-control]="$any(resourceForm.controls.name)"></app-form-field-error>
                </div>
                <!--amount-->
                <div class="col-sm-3">
                    <label for="name">Valor </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">kz</div>
                        </div>
                        <input [imask]="imaskConfig" type="text" id="amount" class="form-control text-right"
                            formControlName="amount">
                    </div>
                    <app-form-field-error [form-control]="$any(resourceForm.controls.amount)"></app-form-field-error>
                </div>

                <!--date-->
                <div class="form-group col-sm-2">
                    <label for="date">Data </label>
                    <p-calendar id="date" formControlName="date" inputStyleClass="from-control" dataType="string"
                        dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true"></p-calendar>
                    <app-form-field-error [form-control]="$any(resourceForm.controls.date)"></app-form-field-error>
                </div>

                <!--paid-->
                <div class="col-sm-2 mt-0">
                    <label for="paid">Pagoh</label>
                    <div class="btn-group">
                        <label (click)="resourceForm.controls.paid.setValue(true)"
                            [class.active]="resourceForm.controls.paid.value == true"
                            class="btn btn-outline-info">Pago</label>
                        <label (click)="resourceForm.controls.paid.setValue(false)"
                            [class.active]="resourceForm.controls.paid.value == false"
                            class="btn btn-outline-info">Pendente</label>
                    </div>
                    <app-form-field-error [form-control]="$any(resourceForm.controls.paid)"></app-form-field-error>
                </div>

                <!--CategoriaId-->
                <div class="col-sm-2">
                    <label for="categoryId">Categoria </label>
                    <select id="categoryId" name="categoryId" class="form-control" formControlName="categoryId">
                        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
                    </select>
                    <app-form-field-error [form-control]="$any(resourceForm.controls.categoryId)"></app-form-field-error>
                </div>

                <!--descricao-->
                <div class="col-sm-8">
                    <label for="description">Descrição </label>
                    <input type="text" id="descricao" class="form-control" formControlName="description">
                </div>
            </div>
        </div>
    </div>
    <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>
    <button [disabled]="submittingForm || resourceForm.invalid " type="submit" class="btn btn-primary btn-log mt-3"
        style="float: right;">Salvar</button>
</form>